In [1]:
import os
os.chdir('..')

# Import Files

In [2]:
from src.price_data import *
from src.env import *

# Price Data

In [3]:
start_date='1995-01-01'
end_date='2023-12-31'
yf = YahooFinance('SPY', start_date=start_date, end_date=end_date)
df = yf.pipeline()
df.head(5)

[*********************100%***********************]  1 of 1 completed

                price  normalized_price  log_price  log_return
date
1995-01-03  26.584366          1.000000   3.280323         NaN
1995-01-04  26.711384          1.004778   3.285090    0.004767
1995-01-05  26.711384          1.004778   3.285090    0.000000
1995-01-06  26.738598          1.005802   3.286108    0.001018
1995-01-09  26.765812          1.006825   3.287125    0.001017

In [4]:
asset_returns = df['log_return'].dropna().to_numpy()
asset_returns

array([ 0.00476654,  0.        ,  0.0010183 , ...,  0.00180651,
        0.00037761, -0.00289917], shape=(7299,))

# Portfolio Enviroment

In [5]:
# Initialize Environment
env = PortfolioEnv(asset_returns, start_date=start_date, end_date=end_date, seed=123)
state, info = env.reset()
print("Initial State Shape:", state.shape)
print("First 5 state values:", state[0, :5])

Initial State Shape: (8, 63)
First 5 state values: [-0.00086998  0.00154646 -0.00678905 -0.00085884  0.01174135]

In [6]:
# Run Random Policy
done = np.zeros((env.batch_size, 1), dtype=bool)
total_rewards = np.zeros(env.batch_size)
step_count = 0
while not done.all():
    actions = torch.randint(0, env.action_space.n, (env.batch_size, 1))
    next_state, reward, done, _, info = env.step(actions)
    
    total_rewards += reward.squeeze()
    step_count += 1
    print(f"Step {step_count}: Avg Reward {reward.mean().item():.6f}")

    if step_count == 5:
        break

Step 1: Avg Reward -0.000607
Step 2: Avg Reward 0.000789
Step 3: Avg Reward 0.003362
Step 4: Avg Reward -0.002590
Step 5: Avg Reward 0.000315